/* Шрифты */

* {
    color: black;
    font-size: 17px;
    font-family: 'Roboto', sans-serif;
    text-align: center;
}

h1 {
    color: #000000;
    font-size: 25px;
}

h2 {
    color: #000000;
    font-size: 20px;
}

/* Список */

.list1 {
    width: 100%;
    max-width: 1000px;
    text-align: center;
    display: inline-block;
}

.center1 {
    display: inline-block;
}

.li1 {
    width: 100%;
    max-width: 100px;
    text-align: left;
}

/* Главная страница */

.page {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0 auto;
    flex-grow: 1;
}

.main {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    flex-grow: 1;
}

.class-logo1 {
    width: 100%;
    max-width: 100px;
    height: 100%;
    max-height: 100px;
}

img.class-logo1 {
    border-radius: 50%;
    -webkit-transition: -webkit-transform .8s ease-in-out;
    transition: transform .8s ease-in-out;
}

img.class-logo1:hover {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
}

/* Фон */

body {
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(25deg, #fff1eb, #bdeaff);
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Стили формы обратной связи */

form {
    margin: 0 auto;
    width: 100%;
    max-width: 500px;
    margin-top: 15px;
    margin-bottom: 50px;
    box-sizing: border-box;
    padding: 30px;
    border-radius: 7px;
    background: #ffffff;
}

.textbox {
    height: 40px;
    width: 100%;
    max-width: 500px;
    border-radius: 7px;
    border: #00000058 1px solid;
    box-sizing: border-box;
    padding: 10px;
    margin-bottom: 20px;
}

.message {
    width: 100%;
    max-width: 500px;
    height: 60px;
    border: #00000058 1px solid;
    box-sizing: border-box;
    border-radius: 7px;
    display: block;
    padding: 10px;
    margin-bottom: 30px;
}

.button {
    height: 40px;
    width: 100%;
    font-size: 17px;
    border-radius: 7px;
    border: #00000000 0px solid;
    box-sizing: border-box;
    padding: 10px;
    background: #213B7E;
    color: #ffffff;
}

.button:hover {
    background: #ff0000;
}

html {
    font-family: 'Roboto', sans-serif;
}

.page {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    flex-grow: 1;
}

/* Кнопка */

.ccd {
    overflow: hidden;
    height: 50px;
    margin: 50px 0;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;

}

a.ddott {
    display: block;
    text-transform: uppercase;
    line-height: 50px;
    height: 50px;
    width: 35%;
    overflow: hidden;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    text-shadow: 0 100px 0 #FFF, 1px 76px 10px #000;
    color: #FFF;
    background: #ed1d25;
    border-right: 2px solid #FFF;
    border-left: 2px solid #FFF;
    border-radius: 7px;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;

}

a.ddott:hover {
    text-shadow: 0 50px 0 #FFF, 1px 51px 20px #FFF;
    margin-top: -50px;
    height: 100px;
    background: #222;
    border-radius: 7px;
}

/* header */

.header {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    max-width: 1300px;
    min-height: 80px;
    background-color: #213B7E;
    box-sizing: border-box;
    margin: 0 auto;
    padding: 0 15px;
    justify-content: space-between;
    align-items: center;
    font-family: 'Roboto', sans-serif;
}

.site-menu {
    display: flex;
    flex-wrap: wrap;
    align-self: stretch;
    padding: 0;
    margin: 0;
    list-style: none;
}

.site-menu>li {
    display: flex;
    flex-wrap: wrap;
}

.menu-link {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 0 18px;
    background-color: #213B7E;
    color: #FFFFFF;
    font-weight: 400;
    font-size: 20px;
    text-decoration-line: underline;
}

.menu-link:hover {
    background-color: #FFFFFF;
    color: #213B7E;
    text-decoration: none;
    text-decoration-line: underline;
}

.login-button {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    font-weight: 400;
    color: #FFFFFF;
    text-decoration: none;
    background-color: #EA5D21;
    width: 100%;
    max-width: 153px;
    min-height: 50px;
}

.login-heading {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    color: #000000;
    text-align: center;
    padding: 0%;
    margin: 0px 0px 30px;
    margin-bottom: -20px;
}

/* Popup */

.login-popup {
    display: none;
    position: absolute;
    z-index: 2;
    bottom: 0px;
    left: 50%;
    transform: translate(-50%, -35%);
    box-sizing: border-box;
    width: 100%;
    max-width: 500px;
    min-height: 418px;
    padding: 26px 0px 0px;
    background: #FFFFFF;
    border: 1px solid #213B7E;
    background-color: #FFFFFF;
}

.login-form {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.login-form>input {
    width: 100%;
    max-width: 500px;
    min-height: 55px;
    margin-bottom: 56px;
    border: 1px solid #808080;
}

.login-input {
    width: 100%;
    max-width: 444px;
    max-height: 55px;
    left: 498px;
    top: 250px;
    background-color: #FFFFFF;
    border: 1px solid #808080;
    font-size: 24px;
    line-height: 28px;
    color: #808080;

}

.login-password {
    width: 100%;
    max-width: 444px;
    max-height: 55px;
    left: 498px;
    top: 361px;
    background-color: #FFFFFF;
    border: 1px solid #808080;
    font-size: 24px;
    line-height: 28px;
    color: #808080;

}

.popup-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 153px;
    min-height: 50px;
    left: 644px;
    top: 472px;
    text-decoration: none;
    color: #FFFFFF;
    background-color: #EA6113;
    border: none;
    font-size: 18px;
    line-height: 21, 09px;
}

.popup-close {
    position: absolute;
    width: 25px;
    height: 25px;
    top: 15px;
    right: 15px;
    overflow: hidden;
    cursor: pointer;
}

.popup-close:hover {
    border-radius: 50%;
    transform: rotate(360deg);
    transition: all o.6s ease-in-out;
    -webkit-transition: 0.6s ease-in-out;
}

.active-link {
    color: #21387e;
    background-color: #FFFFFF;
    text-decoration: none;
}

.show-popup {
    display: block;
}

/* footer */

.footer {
    width: 100%;
    flex-wrap: wrap;
    display: flex;
    box-sizing: border-box;
    max-width: 1300px;
    min-height: 60px;
    margin: 0 auto;
    padding: 0 16px;
    justify-content: center;
    align-items: center;
    background-color: #213B7E;
}

.copyright {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    color: rgba(255, 255, 255, 0.5);
}

.innopolis-link {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    color: rgba(255, 255, 255, 0.5);
}

/* Media */
@media (max-width: 1300px) {
    .header {
        width: 100%;
    }

    .site-menu {
        width: 60%;
        min-height: 80px;
    }
}